# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE
.idea/
.vscode/

# Testing
.coverage
htmlcov/

# Temporary files
*.swp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints/